certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
gTTS==2.5.1
idna==3.7
pydub==0.25.1
requests==2.32.3
SpeechRecognition==3.10.4
typing_extensions==4.12.2
urllib3==2.2.2
